*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
logs/spider/error/spider_error.log
logs/spider/spider.log
spider/.settings/
spider/bin/.settings/org.eclipse.core.resources.prefs
spider/bin/.settings/org.eclipse.m2e.core.prefs
spider/.classpath
spider/.project
spider/bin/.project
spider-parent/.settings/
spider-parent/spider-teacher-web/.settings/
spider-parent/logs/
spider-parent/spider-teacher-web/target/
spider-parent/spider-teacher/.settings/
spider-kafka-storm/.settings/
spider-kafka-storm/target/
